.container {
  position: absolute;
  top: 50px;
  left: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
  background-color: #ffffff;
  padding: 16px;
}

.header {
  font-size: 20px;
  padding-bottom: 8px;
}

.input {
  margin-left: 8px;
}
